@import "../../css/_common.scss";

.calculate {
  background: $color-white;
  margin-bottom: 20px;
  input {
    font-size: 1.2em;
    margin: 10px;
  }
}

.result {
  background: $primary-color-light;
  color: $primary-color-dark;
}
